body {
	font-size: 14px;
	font-family: sans-serif;
	background: rgb(184, 184, 184);
	padding: 0 10rem;
	display: grid;
	justify-content: center;
	align-items: center;
	overflow-x:hidden;
}

@media (max-height:400px) {
	body {zoom:.5}
	{

h1 {
	font-size: 1rem;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
/* the white chapters --------------------------- */

section {
	width: 1200px;
	height: 700px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.582);
	margin: 100px auto;
}

/* the HTML elements (circle, big square, little square) */

.circle {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background: red;
}

.box {
	width: 300px;
	height: 300px;
	background: brown;
	border: solid 20px black;
}

.little-square {
	width: 100px;
	height: 100px;
	background: green;
	z-index: 1;
}

/* animated objects -------------------------------- */

.circle.animate {
	animation-name: fromRight;
	animation-fill-mode: forwards;
	animation-duration: 3s;
	animation-delay: 0s;
}

.box.animate {
	animation: rotateIn 0.7s ease-out;
	animation-fill-mode: forwards;
}

.little-square.animate {
	animation-name: smoothLanding;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-duration: 3s;
	animation-delay: 0.2s;
}

/* animations --------------------------------------- */

.animate-me {
	/* hide all the animated objects 
  before they start animating! */
	opacity: 0;
}

@keyframes fromRight {
	0% {
		opacity: 0;
		border:solid 0rem rgb(255, 208, 0);
		transform: translateX(20rem);
	}

	100% {

		opacity: 1;	
		border:solid 10rem rgb(255, 208, 0);
		transform: translateX(0rem);
	
	}
}

/* ROTATE---------------------------------- */

@keyframes rotateIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: rotate(-180deg) translateX(-30rem);
		border: solid 20rem black;
	}
}

@keyframes smoothLanding {
	0% {
		opacity: 0;
		transform: translateX(0rem);
	}

	100% {
		opacity: 1;
		transform: translateX(30rem) rotate(180deg);
	}
}
