
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0rem;
  font-family: sans-serif;
  overflow-x: hidden;
}

section {
  height:800px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow:hidden;
  border:solid 1px black;
}


/* first we make the circle */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background:yellow;
  /* quickly "reset" animations */
  transition: all .1s ease;
}


/* Then we make the box */
.box {
  width: 200px;
  height: 200px;
  border-color:yellow;
  border-radius: 0;
  background:red;
  /* quickly "reset" animations */
  /* transition: all .1s ease; */
}

/* AND NOW THE ANIMATIONS!!! */

/* make the box rotate and animate a green border! */
.rotate {
  border-color: white;
  background-color: black;
  border-color:yellow;
  border-top: solid 10rem green;
  transform: rotate(180deg);
  /* you can add different animation speeds for different CSS attributes */
  transition: background 1s ease, border 4s ease, transform 2s ease;
}

/* make the circle zoom and make it pink! */
.zoom {
  border-color: black;
  border:solid 10rem black;
  background-color: magenta;
  transition: all 5s ease
}
