:root {
  --base: #202050;
  --border: #ccc;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
}

.box {
  width: 30vh;
  height: 30vh;
  margin: 20vh 0;
  border: 0.2rem solid var(--border);
  border-radius: 50%;
  transition: background 1s ease, border 0.4s ease;
}

.box.isVisible {
  border-color: var(--base);
  background-color: var(--base);
  border: solid 10rem green;
}
